body {
    background-image: url('./assets/landing_page.jpeg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}